<aside>
  <section>
    <app-filter></app-filter>
  </section>
  <section>
    <div class="results">
      <p class="resultText" style="margin: 0">See 1-9 of {{Total}} results</p>
      <select name="" id="" class="filter">
        <option value="" hidden>Filters</option>
        <option value="">Category</option>
        <option value="">Price</option>
        <option value="">Artist</option>
        <option value="">Year</option>
      </select>
      <select name="" id="">
        <option value="" hidden>Sort By</option>

        <option value="">All</option>
        <option value="">Editorials</option>
        <option value="">Fashion</option>
        <option value="">Optics</option>
        <option value="">Art & Museum</option>
        <option value="">Nature</option>
      </select>
    </div>
    <div class="grid-box">
      <div *ngFor="let item of MainView">
        <app-product-card
          [Product]="item"
      ></app-product-card> 
      </div>
    
    </div>
    <button>See More</button>
  </section>
</aside>
 <!-- (addToCart)="addToCart($event)"
          (addToWishlist)="addToWishlist($event)" -->