<aside>
  <section>
    <app-filter></app-filter>
  </section>
  <section>
    <div class="results">
      <input type="text" />

      <select name="" id="">
        <option value="" hidden>Sort By</option>

        <option value="">All</option>
        <option value="">Editorials</option>
        <option value="">Fashion</option>
        <option value="">Optics</option>
        <option value="">Art & Museum</option>
        <option value="">Nature</option>
      </select>
    </div>
    <div class="grid-box">
      <app-product-card
        [ImgUrl]="
          'https://images.unsplash.com/photo-1536924940846-227afb31e2a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2066&q=80'
        "
      ></app-product-card>
      <app-product-card
        [ImgUrl]="
          'https://images.unsplash.com/photo-1536924940846-227afb31e2a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2066&q=80'
        "
      ></app-product-card
      ><app-product-card
        [ImgUrl]="
          'https://images.unsplash.com/photo-1536924940846-227afb31e2a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2066&q=80'
        "
      ></app-product-card
      ><app-product-card
        [ImgUrl]="
          'https://images.unsplash.com/photo-1536924940846-227afb31e2a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2066&q=80'
        "
      ></app-product-card
      ><app-product-card
        [ImgUrl]="
          'https://images.unsplash.com/photo-1536924940846-227afb31e2a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2066&q=80'
        "
      ></app-product-card
      ><app-product-card
        [ImgUrl]="
          'https://images.unsplash.com/photo-1536924940846-227afb31e2a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2066&q=80'
        "
      ></app-product-card
      ><app-product-card
        [ImgUrl]="
          'https://images.unsplash.com/photo-1536924940846-227afb31e2a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2066&q=80'
        "
      ></app-product-card
      ><app-product-card
        [ImgUrl]="
          'https://images.unsplash.com/photo-1536924940846-227afb31e2a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2066&q=80'
        "
      ></app-product-card
      ><app-product-card
        [ImgUrl]="
          'https://images.unsplash.com/photo-1536924940846-227afb31e2a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2066&q=80'
        "
      ></app-product-card>
    </div>
  </section>
</aside>
