aside {
  width: 100vw;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 5fr;
}
section:nth-child(1) {
  padding: 0px 0px 0px 30px;
  margin: 5px;
}

section:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 5px;
  .results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 30px;
    width: 50%;
    gap: 5px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 4px 4px 64px 0px rgba(0, 0, 0, 0.1);
    input {
      appearance: none;
      border: none;
      background-color: transparent;
    }
    select {
      background-color: #f4f2f2;
      padding: 10px 0px;
      border: 1px solid #000;
      border-radius: 5px;
      background-color: transparent;
    }
  }
  .grid-box {
    margin-top: 15px;
    padding: 10px;
    display: grid;
    justify-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
  }
  button {
    margin-top: 30px;
    align-self: center;
    background-color: transparent;
    padding: 10px 12px;
    border: 1px solid #000;
    border-radius: 5px;
  }
}
// *{
//     border:1px dashed red;
// }
@media only screen and (max-width: 768px) {
  aside {
    width: 100vw;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 5fr;
  }
  section:nth-child(1) {
    padding: 5px;
    margin: 0px;
  }
  section:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 5px;
    .results {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      height: 30px;
      width: 50%;
      gap: 5px;
      border-radius: 15px;
      background: #fff;
      box-shadow: 4px 4px 64px 0px rgba(0, 0, 0, 0.1);
      input {
        appearance: none;
        border: none;
        background-color: transparent;
      }
      select {
        background-color: #f4f2f2;
        padding: 10px 0px;
        border: 1px solid #000;
        border-radius: 5px;
        background-color: transparent;
      }
    }
    .grid-box {
      margin-top: 15px;
      padding: 10px;
      display: grid;
      justify-items: center;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 30px;
    }
    button {
      margin-top: 30px;
      align-self: center;
      background-color: transparent;
      padding: 10px 12px;
      border: 1px solid #000;
      border-radius: 5px;
    }
  }

}