<section>
  <div class="breadcrumbs">
    <p routerLink="">Home/</p>
    <p routerLink="/home/products">MarketPlace/</p>
    <p class="current">ProductName</p>
  </div>

  <div class="productContainer">
    <div class="longpanel">
      <img
        [src]='ProductData.product.imgUrl'
        alt=""
      />
    </div>
    <div class="productTitle">
      <p class="title">{{ProductData.product.name}}</p>
      <p class="currency">${{ProductData.product.price}}</p>
    </div>
    <div class="mainInfo">
      <span class="creator">
        <p>Creator :</p>
        <p [ngStyle]="{ color: '#4693ED' }">{{ProductData.product.creator.name}}</p></span
      >
      <p>Made in Italy</p>
      <p style="font-size: 18px"><b>Total Views: {{ProductData.product.totalViews}}</b></p>
      <span class="Count">
        <img src="assets/svgs/plus.svg" alt="" (click)="add()" />
        <p>{{OrderNo}}</p>
        <img src="assets/svgs/minus.svg" alt="" (click)="remove()" />
      </span>
      <span class="cartContainer">
        <button class="cart" (click)="addtocart(ProductData, btn)" #btn>
          Add to Cart <img src="assets/svgs/next.svg" alt="" />
        </button>
        <svg
          width="50"
          height="42"
          viewBox="0 0 30 28"
          fill="none"
          class="fave"
          (click)="changecolor(path)"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="30" height="28" rx="14" fill="white" />
          <path
            #path
            d="M13.8866 21.6602L13.8859 21.6596C11.301 19.3157 9.19578 17.4032 7.73088 15.611C6.27148 13.8256 5.5 12.2206 5.5 10.5C5.5 7.68671 7.69555 5.49998 10.5 5.49998C12.0888 5.49998 13.6221 6.2422 14.6206 7.40562L15 7.84769L15.3794 7.40562C16.3779 6.2422 17.9112 5.49998 19.5 5.49998C22.3045 5.49998 24.5 7.68671 24.5 10.5C24.5 12.2206 23.7285 13.8256 22.2691 15.611C20.8042 17.4032 18.699 19.3157 16.1141 21.6596L16.1134 21.6602L15 22.6738L13.8866 21.6602Z"
            stroke="#000"
          />
        </svg>
      </span>
    </div>
    <div class="basicinfo">
      <span class="infoheader"
        ><p>Description</p>
        <img
          class="dropdown"
          src="{{
            descriptiontoggle
              ? '/assets/images/up.png'
              : '/assets/images/down.jpg'
          }}"
          (click)="displayDescription()"
          alt="Menu icon"
      /></span>
      <span class="description" *ngIf="descriptiontoggle">
        <p>
          {{ProductData.description}}

        </p>
      </span>
    </div>
    <div class="basicinfo">
      <span class="infoheader"
        ><p>Listings</p>
        <img
          class="dropdown"
          src="{{
            listingstoggle ? '/assets/images/up.png' : '/assets/images/down.jpg'
          }}"
          (click)="displayListings()"
          alt="Menu icon"
      /></span>
      <span class="listing" *ngIf="listingstoggle">
        <ul>
          <li><strong>Medium:</strong><span>{{ProductData.listings.medium}}</span></li>
          <li>
            <strong>Dimensions:</strong
            ><span>{{ProductData.listings.dimensions}}</span>
          </li>
          <li><strong>Year:</strong><span>{{ProductData.listings.year}}</span></li>
          <li><strong>Style:</strong><span>{{ProductData.listings.style}}</span></li>
          <li>
            <strong>Framing:</strong
            ><span>{{ProductData.listings.framing}}</span>
          </li>
        </ul>
      </span>
    </div>
    <div class="bottomInfo">
      <span class="infoheader"
        ><p>Status</p>
        <img
          class="dropdown"
          src="{{
            statustoggle ? '/assets/images/up.png' : '/assets/images/down.jpg'
          }}"
          (click)="displayStatus()"
          alt="Menu icon"
      /></span>
      <span class="status" *ngIf="statustoggle">
        <button class="available" *ngIf="ProductData.status === 'In Stock'">
          Available
        </button>
        <button class="unavailable" *ngIf="ProductData.status === 'Out of Stock'">
          Out of Stock
        </button>
      </span>
    </div>
  </div>
  <div class="exploresection">
    <p>Explore More From This Collection</p>
    <div class="navbtnsection">
      <img src="assets/svgs/chevron-left.svg" alt="left" (click)="onPreviousClick()"/>
      <img src="assets/svgs/chevron-right.svg" alt="right" (click)="onNextClick()" />
    </div>
  </div>
  <div class="bottomSection">
    <div class="scrollSection">
      <div *ngFor="let item of displayedCards">
        <app-product-card
        [Product]="item"
        routerLink="/details"
      ></app-product-card>
      </div>
    
          </div>
    <button>Explore All</button>
  </div>
</section>
