<section>
  <div class="breadcrumbs">
    <p routerLink="">Home/</p>
    <p routerLink="/products">MarketPlace/</p>
    <p class="current">ProductName</p>
  </div>

  <div class="productContainer">
    <div class="longpanel">
        <img src="https://images.unsplash.com/photo-1536924940846-227afb31e2a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2066&q=80" alt="">
    </div>
    <div class="productTitle"><p>Product Name</p> <p>150</p></div>
    <div class="basicinfo">
      <span class="infoheader"
      ><p>Details</p>
      <img class="dropdown"
        src="{{ Info ? '/assets/images/up.png' : '/assets/images/down.jpg' }}"
        (click)="displayInfo()"
        alt="Menu icon"
    /></span>
    </div>
    <div class="basicinfo">
      <span class="infoheader"
      ><p>Details</p>
      <img class="dropdown"
        src="{{ Info ? '/assets/images/up.png' : '/assets/images/down.jpg' }}"
        (click)="displayInfo()"
        alt="Menu icon"
    /></span>
    </div>
    <div class="basicinfo">
      <span class="infoheader"
      ><p>Details</p>
      <img class="dropdown"
        src="{{ Info ? '/assets/images/up.png' : '/assets/images/down.jpg' }}"
        (click)="displayInfo()"
        alt="Menu icon"
    /></span>
    </div>
    <div class="basicinfo">
      <span class="infoheader"
      ><p>Details</p>
      <img class="dropdown"
        src="{{ Info ? '/assets/images/up.png' : '/assets/images/down.jpg' }}"
        (click)="displayInfo()"
        alt="Menu icon"
    /></span>
    </div>
  </div>
  <div><p>Explore More From This Collection</p></div>
  <div class="bottomSection"></div>
</section>
