main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 0px 0px 30px;
  margin-left: 5px;
  gap: 30px;
  height: 100%;
  .breadcrumbs {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 20px;
    p {
      text-decoration: none;
      color: #bcb7b7;
      font-size: 18px;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: #000;
      }
    }
    .current {
      color: #000;
    }
  }
  section {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    .liveContainer {
      display: flex;
      width: 60vw;
      height: 65vh;
      box-shadow: 1.9px 3.9px 2.7px -3px rgba(0, 0, 0, 0.07),
        2.4px 4.8px 6px -3px rgba(0, 0, 0, 0.039),
        2.9px 5.8px 8.8px -3px rgba(0, 0, 0, 0.024),
        3.6px 7.2px 11.1px -3px rgba(0, 0, 0, 0.014),
        4.8px 9.6px 12.8px -3px rgba(0, 0, 0, 0.008),
        7px 14px 14px -3px rgba(0, 0, 0, 0.003);
      .imgContainer {
        width: 50%;
        height: 100%;
        position: relative;
        .bidImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        .topIcons {
          position: absolute;
          top: 0px;
          width: 90%;
          display: flex;
          justify-content: space-between;
          padding: 12px 14px;
          .close {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            background: rgba(
              209,
              209,
              209,
              0.21
            ); /* Translucent white background */
            backdrop-filter: blur(5px);
          }
          span {
            color: #175cd3;
            background-color: #eff8ff;
            padding: 4px 8px;
            border-radius: 10px;
          }
        }
        .bidBox {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          position: absolute;
          left: 25%;
          /* right: 50%; */
          top: 50%;
          padding: 10px 12px;
          background: rgba(255, 255, 255, 0.2);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          h2 {
            margin: 0;
          }
        }
        .bottomIcons {
          position: absolute;
          bottom: 0px;
          display: flex;
          align-items: center;
          padding: 8px;
          background-color: white;
          border-radius: 15px;
          margin: 10px;
          gap: 6px;
          .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
          }
          .avatarname {
            font-size: 14px;
            color: #7b7b7b;
            margin: 0;
          }
        }
      }
      .chatContainer {
        width: 50%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        h1 {
          margin: 0;
        }
        nav {
          background-color: hsl(247.74deg 100% 94% / 35.29%);
          display: flex;
          width: 98%;
          height: 5vh;
          align-items: center;
          justify-content: space-between;
          padding: 4px;
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            width: 48%;
            height: 100%;
            border-radius: 5px;
            p {
              margin: 0;
              font-size: 14px;
              font-family: "Satoshi Bold";
              color: #020307;
            }
          }
          .ChatNav,
          .BidNav {
            background-color: #ffffff;
            width: 48%;
            height: 100%;
            border-radius: 5px;
          }
          //    .BidNav{
          //     background-color: #ffffff;
          //     width: 48%;
          //     height: 100%;
          //     border-radius: 5px;
          //   }
        }
        .chat-message-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          height: 60vh;
          width: 100%;
        }
        .chatBox {
          background-color: #ffffff;
          max-height: 55vh;
          padding: 10px 2px;
          display: flex;
          flex-direction: column;
          gap: 12px;
          overflow-x: hidden;
          overflow-y: auto;
          p {
            margin: 0;
          }
          .chat-bubble-receiver {
            background-color: #007bff;
            color: #fff;
            padding: 10px 12px;
            border-radius: 12px;
            max-width: 70%;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
          }
          .senderArea {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: flex-end;
            .chat-bubble-sender {
              background-color: #ffffff;
              color: #000000;
              padding: 10px 12px;
              border-radius: 12px;
              max-width: 70%;
              align-self: end;
              box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            }
          }

          .chat-bubble p {
            margin: 0;
          }
          .time {
            font-size: 8px;
            color: #7b7b7b;
          }
        }
        .bidBox {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
        .MessageBox {
          width: 100%;
          height: 5vh;
          align-self: flex-end;
          padding: 6px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          gap: 10px;
          .inputBox {
            border: 1px solid #7b7b7b;
            border-radius: 6px;
            width: 81%;
            display: flex;
            align-items: center;
          }
          input[type="text"] {
            width: 80%;
            border: none;
            border-radius: 10px;
            padding: 10px;
            font-size: 14px;
            font-family: "Satoshi Bold";
            color: #020307;
            background-color: #ffffff;
            outline: none;
          }

          .icon {
            border: 1px solid #7b7b7b;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            transition: all 0.3s;
            width: 30px;
            height: 30px;
            box-shadow: 2px 4px 7px -3px rgba(0, 0, 0, 0.07);
          }
        }
      }
    }
  }
  span{
    h2{
      font-size: 18px;
      font-family: "Satoshi Bold";
      margin: 0;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    img{
        width: 40px;
        height: 40px;

    }

  }
}
