.livecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 320px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 1.2px 1.4px 7.2px -15px rgba(0, 0, 0, 0.01),
    2.8px 3px 13.7px -15px rgba(0, 0, 0, 0.019),
    4.9px 5.4px 20.4px -15px rgba(0, 0, 0, 0.028),
    8.2px 9px 28.7px -15px rgba(0, 0, 0, 0.039),
    14.5px 15.9px 42.2px -15px rgba(0, 0, 0, 0.053),
    33px 36px 80px -15px rgba(0, 0, 0, 0.08);
  position: relative;
  .likebtn {
    position: absolute;
    // background-color: #ffffff;
    // border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 14px;
    right: 20px;
  }
  img {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: center;
  }
  .midlayer {
    .iceberg-avatar {
      --avatar-size: 25px; /*Skal dette og være customizable? Small, medium, large? */
      width: var(--avatar-size);
      height: var(--avatar-size);
      border-radius: 50%;
      display: inline-block;
      transition: all 0.2s ease-in-out;

      &.bg-light {
        background: #003b6e;
        color: white;
      }

      .initials {
        font: normal normal bold 10px/25px;
        line-height: var(--avatar-size);
        text-align: center;
        letter-spacing: 0px;
      }
    }
    .div-2 {
      background: red;
      color: white;
    }
    .div-3 {
      background: green;
      color: white;
    }
    .div-4 {
      background: purple;
      color: white;
    }
    .avatar-group {
      display: flex;
      &:hover .iceberg-avatar:not(:first-child) {
        margin-left: -10px;
      }
      .iceberg-avatar:not(:first-child) {
        margin-left: -18px;
      }
    }
  }
  .lowerhalf {
    height: 30%;
    display: flex;
    flex-direction: column;
    width: 100%;
    p {
      margin: 0px;
      margin-bottom: 5px;
    }
    .ProductName {
      font-size: 18px;
      font-weight: 500;
    }
    .ProductCreator {
      font-size: 14px;
      font-weight: 400;
      color: #827d7d;
    }
    .btnSection {
      display: flex;
      align-items: center;
      justify-content: space-around;
      p {
        background-color: #a5a5a593;
        padding: 6px;
        border-radius: 10px;
      }
      button {
        padding: 6px 12px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        background-color: #000;
        &:hover {
          background-color: #2a2828;
          color: #fff;
          border: 1px solid #000;
        }
      }
    }
  }
}
