<div class="livecontainer">
  <div class="likebtn">
    <svg
      width="32"
      height="32"
      viewBox="0 0 24 24"
      fill="none"
      (click)="changecolor(path)"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="24" height="24" rx="5" fill="" />
      <path
        #path
        d="M10.8866 19.6603L10.8859 19.6596C8.30104 17.3157 6.19578 15.4033 4.73088 13.6111C3.27148 11.8256 2.5 10.2206 2.5 8.5C2.5 5.68674 4.69555 3.5 7.5 3.5C9.08885 3.5 10.6221 4.24223 11.6206 5.40564L12 5.84771L12.3794 5.40564C13.3779 4.24223 14.9112 3.5 16.5 3.5C19.3045 3.5 21.5 5.68674 21.5 8.5C21.5 10.2206 20.7285 11.8256 19.2691 13.6111C17.8042 15.4033 15.699 17.3157 13.1141 19.6596L13.1134 19.6603L12 20.6738L10.8866 19.6603Z"
        stroke="#FFF"
        stroke-opacity="0.71"
      />
    </svg>
  </div>
  <div class="imgContainer">
    <img [src]="result.ImgUrl" alt="" />
  </div>

  <span class="midlayer">
    <div class="avatar-group">
      <div class="iceberg-avatar bg-light">
        <div class="initials">JH</div>
      </div>

      <div class="iceberg-avatar div-2">
        <div class="initials">ON</div>
      </div>

      <div class="iceberg-avatar div-3">
        <div class="initials">KN</div>
      </div>

      <div class="iceberg-avatar div-4">
        <div class="initials">TD</div>
      </div>
    </div>
    <div class="timer">
      <p class="end">Ends in</p>
      <p>{{ displayTime }}</p>
    </div>
  </span>
  <div class="lowerhalf">
    <h4 class="ProductName">{{ result.Product }}</h4>
    <p class="ProductCreator">By: {{ result.Artist }}</p>
    <div class="btnSection">
      <div class="bidbox">
        <p style="font-family: Satoshi Bold">Current Bid</p>
        <span class="bid">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.082 2.61304L5.83203 13.113L12.082 16.863L18.332 13.113L12.082 2.61304ZM5.83203 14.363L12.082 23.113L18.332 14.363L12.082 18.113L5.83203 14.363Z"
              fill="black"
            />
          </svg>
          {{ result.Bid }}
        </span>
      </div>

      <button routerLink="/auction/livebids" (click)="sendData()">Join Live</button>
    </div>
  </div>
</div>
