<section class="sidebar">
    <div class="searchbox">
      <img src="/assets/svgs/Search.svg" alt="" />
      <input type="search" placeholder="Search" />
    </div>
    <span class="header">
      <img src="/assets/svgs/Settings.svg" alt="" srcset="" />
      <h2>Filter</h2>
    </span>
    <hr />
    <div class="category">
      <span
        ><p>By Category</p>
        <img
          src="{{
            category ? '/assets/images/up.png' : '/assets/images/down.jpg'
          }}"
          (click)="displaycat()"
          alt="Menu icon"
      /></span>
      <div class="categorylist" *ngIf="category">
        <span
          ><input type="checkbox" name="" id="" />
          <p>Editorials</p></span
        >
        <span
          ><input type="checkbox" name="" id="" />
          <p>Fashion</p></span
        >
        <span
          ><input type="checkbox" name="" id="" />
          <p>Optics</p></span
        >
        <span
          ><input type="checkbox" name="" id="" />
          <p>Arts & Culture</p></span
        >
        <span
          ><input type="checkbox" name="" id="" />
          <p>Nature</p></span
        >
      </div>
    </div>
    <div class="category">
      <span
        ><p>By Price</p>
        <img
          src="{{
            Price ? '/assets/images/up.png' : '/assets/images/down.jpg'
          }}"
          (click)="displayprice()"
          alt="Menu icon"
      /></span>
      <div class="categorylist" *ngIf="Price">to be worked on
        <mat-slider>
          <input matSliderStartThumb>
          <input matSliderEndThumb>
        </mat-slider>
      </div>
    </div>
    <div class="category">
      <span
        ><p>By Artist</p>
        <img
          src="{{
            Artist ? '/assets/images/up.png' : '/assets/images/down.jpg'
          }}"
          (click)="displayartist()"
          alt="Menu icon"
      /></span>
      <div class="categorylist" *ngIf="Artist">
        <span><input type="checkbox" name="" id="" /> Editorials</span>
        <span><input type="checkbox" name="" id="" /> Fashion</span>
        <span><input type="checkbox" name="" id="" /> Optics</span>
        <span><input type="checkbox" name="" id="" /> Art & Museum</span>
        <span><input type="checkbox" name="" id="" /> Nature</span>
      </div>
    </div>
  </section>