<section>
    <div class="breadcrumbs">
      <p routerLink="">Home/</p>
      <p class="current">Auctions</p>
    </div>

   <div class="overview">
    <p>Here’s an overview of products actively on auction, explore!</p>
    <div class="bids">
       <app-livecards [ImgUrl]="'https://cdn.pixabay.com/photo/2022/10/11/06/35/alien-7513483_640.jpg'" 
       [Bid]="140.00"
       [Artist]="'Jane Doe'"
       [countdownHours]="10"
       [Product]="'Dead Man Walking'"></app-livecards> 
    </div>
   </div>
</section>
