<section>
  <div class="breadcrumbs">
    <p routerLink="">Home/</p>
    <p class="current">Auctions</p>
  </div>

  <div class="overview">
    <h3>Here’s an overview of products actively on auction, explore!</h3>
    <div class="bids">
      <img
        src="/assets/svgs/nextbtn.svg"
        class="imgprev"
        alt="previous"
        (click)="onPreviousClick()"
      />
      <img
        src="/assets/svgs/nextbtn.svg"
        alt="next"
        class="imgnext"
        (click)="onNextClick()"
      />
      <div *ngFor="let items of displayedCards; let i = index">
        <div class="carousel">
          <app-livecards [result]="items"></app-livecards>
        </div>
      </div>
    </div>
    <div class="carousel-indicators">
      <button
        *ngFor="let indicator of LiveAuction; let i = index"
        [class.active]="i === currentIndicator"
        (click)="goToSlide(i)"
      ></button>
    </div>
  </div>
  <div class="creators">
    <h3>Top bids from popular creators</h3>
    <div class="creatorSection">
      <div *ngFor="let item of CreatorData">
        <app-creatorcard [Result]="item"></app-creatorcard>
      </div>
    </div>
  </div>
</section>
