section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 0px 30px;
    margin-left: 5px;
    gap: 30px;
    .breadcrumbs {
      display: flex;
      gap: 4px;
      align-items: center;
      margin-bottom: 20px;
      p {
        text-decoration: none;
        color: #bcb7b7;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: #000;
        }
      }
      .current {
        color: #000;
      }
    }
}
  