section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 0px 0px 30px;
  margin-left: 5px;
  gap: 30px;
  height: 100%;
  .breadcrumbs {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 20px;
    p {
      text-decoration: none;
      color: #bcb7b7;
      font-size: 18px;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: #000;
      }
    }
    .current {
      color: #000;
    }
  }
  .overview {
    width: 97%;

    .bids {
      height: max(400px);
      width: 100%;
      display: flex;
      /* gap: 40px; */
      overflow: hidden;
      align-items: center;
      justify-content: space-around;


    }
    .carousel{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
.current-slide {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1) translateY(-10px);
  z-index: 5;
}

    img{
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      transform: translate(-50%);
    }
    .imgprev{
      transform:rotate(180deg);
      left:10px;
    }
    .imgnext{
      right: -5px;
      z-index: 3;
    }

    // app-livecards{
    //   position: absolute;
    //   top: 0;
    //   left: 30%;
    // }
  }
  .creators {
    display: flex;
    flex-direction: column;
    width: 100%;
    .creatorSection {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  .carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    gap: 5px;
  
    button {
      width: 8px;
      height: 8px;
      border: none;
      border-radius: 100px;
     
      // margin: 0 5px;
      cursor: pointer;
      background-color: #d8d8d8;
  
      &.active {
        width: 30px;
        border-radius: 10px;
        background-color: #4c4c4c;
      }
    }
  }
  
}
@media only screen and (max-width: 768px) {
  section {
    overflow-x: hidden;
    margin: 0px;
    padding: 5px;
    .breadcrumbs {
      display: none;
    }
    .overview {
      width: 100%;
      .bids {
        gap: 20px;
      }
      img{
        width: 30px;
        height: 30px;
        top: 40%;
        z-index: 5;
      }
      
    }
    .creators {
      .creatorSection {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}


@media screen and (min-width: 1920px) {
  section {
    .breadcrumbs {
      p {
        font-size: 20px;
      }
    }
    .overview {
      width: 100vw;
      .bids {
        gap: 70px;
      }
      img{
        width: 50px;
        height: 50px;
        top: 40%;
        z-index: 5;
      }
    }
  }
}