<section>
  <div class="breadcrumbs">
    <p routerLink="">Home/</p>
    <p class="current">Auctions</p>
  </div>

  <div class="overview">
    <h3>Here’s an overview of products actively on auction, explore!</h3>
    <div class="bids">
      <div *ngFor="let items of LivecardData">
        <app-livecards
        [result]="items"          
        ></app-livecards>
      </div>
    </div>
  </div>
  <div class="creators">
    <h3>Top bids from popular creators</h3>
    <div class="creatorSection" >
      <div *ngFor="let item of CreatorData">
        <app-creatorcard
        [Result]="item"
      ></app-creatorcard>
      </div>
    </div>
  </div>
</section>
