<section>
  <div *ngIf="count == 0" class="empty">
    <div>
      <img src="assets/svgs/empty.svg" alt="empty-cart" />
      <p>Oops.... looks like your cart is empty</p>
      <button class="emptycheckoutbtn" routerLink="/home/products">Continue Shopping</button>
    </div>
  </div>
  <div class="cartSection" *ngFor="let cart of CartItems">
    <div class="card-container" >
        <div class="imgcontainer"><img [src]="cart.product.imgUrl" alt=""></div>
        <div class="detailscontainer">
            <div class="leftSide">
                <h4>{{cart.product.name}}</h4>
                <p class="creator">{{cart.product.creator.name}}</p>
                <span><p class="dimensions" >Size :</p> <p>{{cart.listings.dimensions}}</p></span>
                <span class="Count">
                    <img src="assets/svgs/plus.svg" alt="" (click)="add(cart)" />
                    <p>{{cart.product.quantity}}</p>
                    <img src="assets/svgs/minus.svg" alt="" (click)="remove(cart)" />
                  </span>
            </div>
            <div class="rightSide"> 
               <img src="assets/svgs/trash-can-outline.svg" alt="delete" (click)="removeItem(cart)" >
                <p>$ {{cart.product.price}}</p>
            </div>
        </div>
    </div>
  </div>
  <div class="checkoutSection" *ngIf="count > 0">
    <div class="checkoutSection__left">
      <button class="checkoutbtn" (click)="switchtoCheckout('Details')">Proceed to Checkout</button>
      <p class="shopping" routerLink="/home/products">Continue shopping</p>
    </div>
    <div class="checkoutSection__right">
      <span>
        <p class="checkoutSection__headers">Products in Cart</p>
        <p>{{ count }} items</p>
      </span>
      <span>
        <p class="checkoutSection__headers">Shipping</p>
        <p>$ {{ count }}</p> 
    </span>
      <span>
        <p class="checkoutSection__headers">Total</p>
        <p>$ {{Total}}</p>
      </span>
    </div>
  </div>
</section>
