section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
  .empty{
    width: 100%;
    height: 80vh;
    div{
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      p{
        width: 300px;
        font-size: 32px;
        font-family: "CD Bold";
        font-weight: bold;
        line-height: 40px;
   
    text-align: center;
    background: linear-gradient(120deg, #00F260, #0575E6, #51E23F, #03ffd9af);
    background-clip: text;
    background-size: 200% 200%;
    -webkit-text-fill-color: transparent;
    animation: changes 5s ease-in-out infinite alternate;

      }
      img{
        width: 80%;
        height: 50vh;
      }
    }
  }
  .cartSection {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-container {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 8px 0px;
      border-top: 1px solid #cbcbcb;
      gap: 30px;
      .imgcontainer {
        align-self: flex-end;
        img {
          width: 200px;
          height: 160px;
          object-fit: cover;
          object-position: center;
          border-radius: 5px;
        }
      }
      .detailscontainer {
        width: 70%;
        display: flex;
        justify-content: space-between;
        .leftSide {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h4 {
            font-size: 22px;
          }
          .creator {
            font-size: 18px;
            color: #7b7b7b;
          }
          span {
            display: flex;
            .dimensions {
              color: #7b7b7b;
              margin-right: 5px;
            }
          }
          .Count {
            font-size: 25px;
            display: flex;
            gap: 10px;
            img {
              width: 20px;
              height: 20px;
              object-fit: contain;
              object-position: center;
            }
          }
        }
        .rightSide {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          p {
            font-size: 20px;
            font-family: "Satoshi Bold";
          }
          img {
            width: 30px;
            height: 30px;
            object-fit: contain;
            object-position: center;
          }
        }
      }
    }
  }
  .checkoutSection {
    border-top: 1px solid #cbcbcb;
    padding: 20px 0px;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    .checkoutbtn {
      padding: 10px 12px;
      border-radius: 5px;
      background-color: #000;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 18px;
    }
    .shopping {
      width: fit-content;
      text-decoration: none;
      border-bottom: 2px solid #000;
    }
    &__left {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 30px;
      align-items: center;

    }
    &__right {
      display: flex;
      flex-direction: column;
    justify-content: space-evenly;
      width: 50%;

     span{
        display: flex;
        width: 100%;
        justify-content: space-between;
        
     }
    }
    &__headers{
        font-size: 18px;
        color: #7b7b7b;
    }
  }
  .emptycheckoutbtn {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.emptycheckoutbtn::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(0, 0, 0);
  

  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.emptycheckoutbtn:hover::before {
  scale: 4.1;
}

.emptycheckoutbtn:hover {
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.emptycheckoutbtn:active {
  scale: 1;
}
}

@keyframes changes {
  0% {
      background-position: 0% 50%
  }

  50% {
      background-position: 100% 50%
  }

  100% {
      background-position: 0% 50%
  }
}

@media only screen and (max-width:768px){
  section{
    .cartSection{
      flex-direction: column;
      gap: 20px;
      .card-container{
        flex-direction: row;
        gap: 10px;
        .imgcontainer{
          align-self: center;
          img{
            width: 140px;
            height: 140px;
          }
        }
        .detailscontainer{
          .leftSide{
            width: 50%;
            h4{
              font-size: 14px;
            }
            .creator{
              font-size: 12px;
            }

            .size{
              display: none;
            }
            .Count{
              justify-content: space-between;
              font-size: 16px;
              align-items: center;
              p{
                margin: 0px;
              }
              img{
                width: 15px;
                height: 15px;
              }
            }
          }
          .rightSide{
            width: 50%;
            align-items: center;
            p{
              margin: 0;
              font-size: 14px;
            }
          }
        }
      }
    }
    .checkoutSection{
      flex-direction: column;
      gap: 20px;
      .checkoutbtn{
        width: 100%;
      }
      .shopping{
        width: 100%;
        text-align: center;
      }
      &__left{
        width: 100%;
        align-items: center;
      }
      &__right{
        width: 100%;
        align-items: center;
      }
    }
  }
}