<main>
    <section class="section1 ">
        <h1 class="Expand">Photograpy is poetry & beautiful untold stories</h1>
        <p class="Expand-small">Flip through more than 10,000 vintage shots, old photograghs, historic images and captures seamlessly in one place. Register to get top access.</p>
    </section>
    <section class="section2">
        <app-productcard [FlexDirection]="false" [ImgUrl]="'https://images.unsplash.com/photo-1608546043931-6c9678ea9feb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'"></app-productcard>
        <app-productcard [FlexDirection]="true" [ImgUrl]="'https://images.unsplash.com/photo-1517187654069-ba29110a1d9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80'"></app-productcard>
        <app-productcard [ImgUrl]="'https://images.unsplash.com/photo-1587758234281-21a6b992b531?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80'"></app-productcard>

    </section>
    <section style="margin-bottom: 120px;">
        <app-exhibition-card></app-exhibition-card>
    </section>
    <section class="navcard">
<app-nav-card title="Explore Marketplace"></app-nav-card>
<app-nav-card title="See Auctions"></app-nav-card>
    </section>
    <section class="subscription">
        <div>
            <h2 style="text-transform: uppercase; font-weight: 100;">NewsLetter</h2>
            <h2>Subscribe to get daily updates on new drops & exciting deals </h2>
            <span>
                <input type="text" name="" placeholder="Enter your Email">
            <input type="submit" value="Subscribe">
            </span>
            
        </div>
    </section>
    <app-footer></app-footer>
</main>