<div class="creatorContainer">
    <div class="imgContainer">
        <img [src]="Result.ImgUrl" alt="">
        <h2>{{Result.CreatorName}}</h2>
    </div>

    <div class="creatorWorks">
        <img [src]="Result.CreatorUrl" alt="">
        <div class="imgCaption">
            <p>{{Result.ProductName}}</p>
            <!-- <hr>
            <p>Expand</p> -->
        </div>
    </div>

    <div class="bids">
        <div class="highestbids">
            <p>Highest Bids</p>
            <p class="notice">{{Result.HighestBids}}</p>
        </div>
        <hr>
        <div class="auction">
            <p>Auction Ending In</p>
            <p class="notice">{{Auction}}</p>
        </div>
    </div>
    <div class="creatorInfo">
        <p class="Infotext" [ngClass]="{'Infotext':Readmore,'Normaltext':!Readmore}" >{{CreatorInfo}}</p>
        <div *ngIf="Readmore">
            <p class="readmore" (click)="readmore()">Read More</p>
        </div>
        <div *ngIf="!Readmore">
            <p class="readmore" (click)="readmore()">See Less</p>
        </div>
        
        <div class="socials">
            <img src="/assets/svgs/instagram.svg" alt="instagram">
            <img src="/assets/svgs/twitter.svg" alt="twitter">
            <img src="/assets/svgs/Facebook.svg" alt="facebook">
        </div> 
    </div>
    <form class="bidinput" [formGroup]="BidForm">
        <div class="text">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.082 2.61304L5.83203 13.113L12.082 16.863L18.332 13.113L12.082 2.61304ZM5.83203 14.363L12.082 23.113L18.332 14.363L12.082 18.113L5.83203 14.363Z" fill="black"/>
                </svg>
                
            <input type="text" placeholder="Enter your bid" formControlName="Bid">
        </div>
        <input type="submit" value="Place Bid" (click)="submitForm()">
    </form>
</div>